<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!--设置一个监听器-->
    <!--加载了Spring的上下文，并初始化了Spring容器，从而使得在Servlet中可以使用Spring框架提供的功能，比如依赖注入、AOP等。-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:mybatis-spring.xml</param-value>
    </context-param>
    <!--设置服务器启动时的监听器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--通过初始化参数配置springmvc的配置文件名称和位置-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>
        <!--第一次启动就初始化，提高第一次发送请求的速度-->
        <load-on-startup>0</load-on-startup>

        <multipart-config>
            <!--设置单个支持最大文件大小-->
            <max-file-size>10240000</max-file-size>
            <!--设置整个表单所以文件上传的最大值-->
            <max-request-size>10240000</max-request-size>
            <!--设置最小上传文件大小-->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <!--这里写个斜杠，会把所有请求都拦截，还有js等等-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
